.Saving {
  position: fixed;
  bottom: 100px;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  text-align: center;
}

.Saving__message {
  display: inline-block;
  background-color: var(--bs-dark);
  color: var(--white);
  border-radius: 5px;
}
