.JSONSchemaForm h5 {
  cursor: pointer;
}

.JSONSchemaForm select {
  width: auto;
  max-width: 100%;
}

.JSONSchemaTranslatedProperty {
  display: flex;
  align-items: flex-start;
}
.JSONSchemaTranslatedProperty .form-group {
  width: 100%;
  margin-right: 5px;
}
.JSONSchemaTranslatedProperty button {
  margin-top: 2rem;
}
