.File .delete a {
  color: #dc3545;
  text-decoration: line-through;
}

.File .delete button {
  background-color: #dc3545;
}

.File .dzu-dropzone {
  border: 1px solid #ced4da;
  background-color: #eee;
}

.File .dzu-inputLabel {
  color: #495057;
}

.File .dzu-dropzoneReject {
  border-color: red;
  background-color: #DAA;
}

.File .dzu-dropzoneReject .dzu-inputLabel {
  color: #dc3545;
}
