/* fonts */
@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Standard-Regular.woff2") format("woff2"),
    url("./fonts/GT-America-Standard-Regular.woff") format("woff"),
    url("./fonts/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Standard-Regular-Italic.woff2") format("woff2"),
    url("./fonts/GT-America-Standard-Regular-Italic.woff") format("woff"),
    url("./fonts/GT-America-Standard-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Standard-Bold.woff2") format("woff2"),
    url("./fonts/GT-America-Standard-Bold.woff") format("woff"),
    url("./fonts/GT-America-Standard-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Standard-Bold-Italic.woff2") format("woff2"),
    url("./fonts/GT-America-Standard-Bold-Italic.woff") format("woff"),
    url("./fonts/GT-America-Standard-Bold-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "GT America Expanded";
  src: url("./fonts/GT-America-Expanded-Black.woff2") format("woff2"),
    url("./fonts/GT-America-Expanded-Black.woff") format("woff"),
    url("./fonts/GT-America-Expanded-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT America Expanded";
  src: url("./fonts/GT-America-Expanded-Regular.woff2") format("woff2"),
    url("./fonts/GT-America-Expanded-Regular.woff") format("woff"),
    url("./fonts/GT-America-Expanded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("./fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("./fonts/MaterialIcons-Regular.woff") format("woff"),
    url("./fonts/MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("./fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("./fonts/MaterialIcons-Regular.woff") format("woff"),
    url("./fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* overall style */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

.visual-preview,
.visual-preview p {
  font-family: "GT America", sans-serif;
}

.visual-preview h1,
.visual-preview h2,
.visual-preview h3 {
  font-family: "GT America Expanded", Georgia, serif;
  font-weight: 500;
}

.visual-preview h4,
.visual-preview h5,
.visual-preview h6 {
  font-family: "GT America", Arial, sans-serif;
  font-weight: 500;
}

button:focus {
  outline: 0;
}

a.button-link {
  line-height: 2em;
}

.pointer {
  cursor: pointer !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* general utilities */
.margin-r-l-20 {
  /* margin-left: 20px;
  margin-right: 20px; */
}

.no-padding-left {
  padding-left: 0px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

.flex {
  display: flex;
}

.flex-right {
  margin-left: auto;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

input.invisible-input,
textarea.invisible-input {
  z-index: 9999;
  opacity: 1;
  background-color: transparent;
  border: 0px;
  resize: none;
  outline: none;
}

button.tiny-btn {
  padding: 0.2rem 0.35rem;
}

.linked-object {
  color: deepskyblue !important;
}
