.VideoInterview__bottomForm {
  border-top: 1px solid #ccc;
  padding-left: 35px;
  padding-right: 35px;
}

.row .VideoInterview__col:first-child {
  border-right: 1px solid #ccc;
}
.VideoInterview__col {
  padding: 10px;
  min-height: 200px;
}
